<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico


    RewriteRule ^([^/]+)/([^/]+)/(.+)$ index.php?package=$1&method=$2&id=$3
    RewriteRule ^([^/]+)/([^/]+)$ index.php?package=$1&method=$2
</IfModule>